 .u-section-1 {
  background-image: url("images/hghhy.jpg");
  background-position: 50% 50%;
  min-height: 566px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 567px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 26px 61px 0 -20px;
}

.u-section-1 .u-text-2 {
  margin: 24px 37px 0 4px;
}

.u-section-1 .u-text-3 {
  font-size: 5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px 101px 0 69px;
}

.u-section-1 .u-text-4 {
  margin: -212px 134px 0 20px;
}

.u-section-1 .u-line-1 {
  width: 482px;
  transform-origin: left center 0px;
  margin: 160px auto 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 33px auto 0 124px;
  padding: 14px 40px 16px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7778em;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 567px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 5s;
  animation-duration: 5000ms;
  --effect-scale: 1.25;
}

.u-section-1 .u-image-1 {
  background-image: url("images/profile-pic14.png");
  transition-duration: 3s;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 368px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 4.25rem;
    width: auto;
    margin-top: 70px;
    margin-right: 73px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -205px;
    margin-right: 40px;
    margin-left: 24px;
  }

  .u-section-1 .u-line-1 {
    width: 431px;
    margin-top: 173px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    margin-left: 83px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    transform: rotate(0deg);
    min-height: 468px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 652px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 770px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 28px 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -102px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 66px;
    margin-right: 195px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 47px;
    margin-right: 232px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -185px;
    margin-right: 216px;
    margin-left: 4px;
  }

  .u-section-1 .u-line-1 {
    width: 321px;
    margin-top: 241px;
    margin-left: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -83px;
    margin-left: 18px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 652px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 489px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 576px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 23px 50px 23px 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -182px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 146px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 357px;
    margin-top: 229px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -73px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 308px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 390px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 55px;
    padding-right: 0;
    padding-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -29px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 175px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-4 {
    margin-top: -194px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: 185px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 33px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 308px;
  }
} .u-section-2 {
  background-image: linear-gradient(#2d2933, #5e5a63);
  min-height: 868px;
}

.u-section-2 .u-slider-1 {
  min-height: 610px;
  width: 475px;
  height: auto;
  margin: 0 calc(((100% - 1140px) / 2) + -26px) 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 5px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 375px;
  margin: 8px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 477px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-16 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 5px;
}

.u-section-2 .u-text-18 {
  margin: 0 auto;
}

.u-section-2 .u-list-2 {
  grid-template-rows: auto;
  width: 375px;
  margin: 8px auto 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 50% 50%;
  min-height: 477px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-19 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-21 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-22 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-23 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-24 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-25 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-26 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-27 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-28 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-29 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-30 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-31 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-32 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-33 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-34 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px 50px;
}

.u-section-2 .u-text-35 {
  margin: 29px auto 0;
}

.u-section-2 .u-list-3 {
  grid-template-rows: auto;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: 50% 50%;
  min-height: 477px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-36 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-37 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-38 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-39 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-22 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-40 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-41 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-23 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-42 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-43 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-24 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-44 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-45 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-25 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-46 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-47 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-26 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-48 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-49 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-27 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-50 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px 4px 0;
}

.u-section-2 .u-text-51 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-28 {
  padding: 30px 50px;
}

.u-section-2 .u-text-52 {
  margin: 29px auto 0;
}

.u-section-2 .u-list-4 {
  grid-template-rows: auto;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-4 {
  grid-template-columns: 50% 50%;
  min-height: 358px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-29 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-53 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-54 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-30 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-55 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-56 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-31 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-57 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-58 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-32 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-59 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-60 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-33 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-61 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-62 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-34 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-63 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-64 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-35 {
  padding: 30px 50px;
}

.u-section-2 .u-text-65 {
  margin: 29px auto 0;
}

.u-section-2 .u-list-5 {
  grid-template-rows: auto;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-5 {
  grid-template-columns: 50% 50%;
  min-height: 477px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-36 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-66 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-67 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-37 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-68 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-69 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-38 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-70 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-71 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-39 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-72 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-73 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-40 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-74 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-75 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-41 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-76 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-77 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-42 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-78 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-79 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-43 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-80 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-81 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-44 {
  padding: 30px 50px;
}

.u-section-2 .u-text-82 {
  margin: 29px auto 0;
}

.u-section-2 .u-list-6 {
  grid-template-rows: auto;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-6 {
  grid-template-columns: 50% 50%;
  min-height: 358px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-45 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-83 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-84 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-46 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-85 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-86 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-47 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-87 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-88 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-48 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-89 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-90 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-49 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-91 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-92 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-50 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-93 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-94 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-carousel-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-51 {
  padding: 30px 50px;
}

.u-section-2 .u-text-95 {
  margin: 29px auto 0;
}

.u-section-2 .u-list-7 {
  grid-template-rows: auto;
  margin-top: 90px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-7 {
  grid-template-columns: 50% 50%;
  min-height: 239px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-52 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-96 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-97 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-53 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-98 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-99 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-54 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-100 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-101 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-55 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-102 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-103 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-carousel-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-56 {
  padding: 30px 50px;
}

.u-section-2 .u-text-104 {
  margin: 29px auto 0;
}

.u-section-2 .u-list-8 {
  grid-template-rows: auto;
  margin: 0;
}

.u-section-2 .u-repeater-8 {
  grid-template-columns: 50% 50%;
  min-height: 477px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-57 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-105 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-106 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-58 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-107 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-108 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-59 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-109 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-110 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-60 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-111 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-112 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-61 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-113 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-114 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-62 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-115 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-116 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-63 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-117 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-118 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-64 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-119 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 9px 8px 0 0;
}

.u-section-2 .u-text-120 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  right: 10px;
  position: absolute;
}

.u-section-2 .u-group-1 {
  width: 591px;
  min-height: 818px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -599px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-65 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-121 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px 0 0;
}

.u-section-2 .u-text-122 {
  font-size: 1.125rem;
  line-height: 2;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 44px 0 0;
}

.u-section-2 .u-group-elements-1 {
  width: 465px;
  min-height: 190px;
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 1px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -250px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-2 .u-text-123 {
  margin: 0 auto 0 157px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px auto 0 1px;
  padding: 14px 52px 15px 51px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -60px 0 0 auto;
  padding: 14px 45px 16px 44px;
}

.u-section-2 .u-icon-2 {
  margin-right: 6px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px auto 0 0;
  padding: 14px 11px 16px;
}

.u-section-2 .u-btn-4 {
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -61px 0 0 auto;
  padding: 15px 47px 15px 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    margin-right: calc(((100% - 940px) / 2) + -26px);
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(2, 50%);
    min-height: 385px;
  }

  .u-section-2 .u-text-36 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-38 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-40 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-42 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-44 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-46 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-48 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-50 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-4 {
    grid-template-columns: repeat(2, 50%);
    min-height: 289px;
  }

  .u-section-2 .u-text-53 {
    margin-right: 0;
  }

  .u-section-2 .u-text-55 {
    margin-right: 0;
  }

  .u-section-2 .u-text-57 {
    margin-right: 0;
  }

  .u-section-2 .u-text-59 {
    margin-right: 0;
  }

  .u-section-2 .u-text-61 {
    margin-right: 0;
  }

  .u-section-2 .u-text-63 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-5 {
    grid-template-columns: repeat(2, 50%);
    min-height: 385px;
  }

  .u-section-2 .u-text-66 {
    margin-right: 0;
  }

  .u-section-2 .u-text-68 {
    margin-right: 0;
  }

  .u-section-2 .u-text-70 {
    margin-right: 0;
  }

  .u-section-2 .u-text-72 {
    margin-right: 0;
  }

  .u-section-2 .u-text-74 {
    margin-right: 0;
  }

  .u-section-2 .u-text-76 {
    margin-right: 0;
  }

  .u-section-2 .u-text-78 {
    margin-right: 0;
  }

  .u-section-2 .u-text-80 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-6 {
    grid-template-columns: repeat(2, 50%);
    min-height: 289px;
  }

  .u-section-2 .u-text-83 {
    margin-right: 0;
  }

  .u-section-2 .u-text-85 {
    margin-right: 0;
  }

  .u-section-2 .u-text-87 {
    margin-right: 0;
  }

  .u-section-2 .u-text-89 {
    margin-right: 0;
  }

  .u-section-2 .u-text-91 {
    margin-right: 0;
  }

  .u-section-2 .u-text-93 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-7 {
    grid-template-columns: repeat(2, 50%);
    min-height: 193px;
  }

  .u-section-2 .u-text-96 {
    margin-right: 0;
  }

  .u-section-2 .u-text-98 {
    margin-right: 0;
  }

  .u-section-2 .u-text-100 {
    margin-right: 0;
  }

  .u-section-2 .u-text-102 {
    margin-right: 0;
  }

  .u-section-2 .u-list-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-8 {
    grid-template-columns: repeat(2, 50%);
    min-height: 385px;
  }

  .u-section-2 .u-text-105 {
    margin-right: 0;
  }

  .u-section-2 .u-text-107 {
    margin-right: 0;
  }

  .u-section-2 .u-text-109 {
    margin-right: 0;
  }

  .u-section-2 .u-text-111 {
    margin-right: 0;
  }

  .u-section-2 .u-text-113 {
    margin-right: 0;
  }

  .u-section-2 .u-text-115 {
    margin-right: 0;
  }

  .u-section-2 .u-text-117 {
    margin-right: 0;
  }

  .u-section-2 .u-text-119 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-group-elements-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    margin-right: calc(((100% - 720px) / 2) + -26px);
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-28 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-35 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-44 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-repeater-6 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-51 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-repeater-7 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-56 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-repeater-8 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-container-layout-65 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    margin-right: calc(((100% - 540px) / 2) + -26px);
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-35 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-44 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-51 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-56 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-elements-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 330px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    width: 330px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-27 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-31 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-elements-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-1 {
    padding-right: 43px;
    padding-left: 42px;
  }

  .u-section-2 .u-btn-3 {
    padding-right: 5px;
    padding-left: 3px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -60px;
    margin-right: 2px;
    padding-right: 42px;
    padding-bottom: 16px;
    padding-left: 41px;
  }
}

.u-block-3556-52:not([data-block-selected]):not([data-cell-selected]),
.u-block-3556-52:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-3556-52:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3556-52:not([data-block-selected]):not([data-cell-selected]).u-block-3556-52:not([data-block-selected]):not([data-cell-selected]).u-block-3556-52:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-3556-52:not([data-block-selected]):not([data-cell-selected]).u-block-3556-52:not([data-block-selected]):not([data-cell-selected]).u-block-3556-52:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-3556-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-3556-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-3556-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-3556-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-3556-53:not([data-block-selected]):not([data-cell-selected]),
.u-block-3556-53:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-3556-53:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3556-53:not([data-block-selected]):not([data-cell-selected]).u-block-3556-53:not([data-block-selected]):not([data-cell-selected]).u-block-3556-53:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-3556-53:not([data-block-selected]):not([data-cell-selected]).u-block-3556-53:not([data-block-selected]):not([data-cell-selected]).u-block-3556-53:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-3556-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-3556-53:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-3556-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-3556-53:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-3556-54:not([data-block-selected]):not([data-cell-selected]),
.u-block-3556-54:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-3556-54:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3556-54:not([data-block-selected]):not([data-cell-selected]).u-block-3556-54:not([data-block-selected]):not([data-cell-selected]).u-block-3556-54:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-3556-54:not([data-block-selected]):not([data-cell-selected]).u-block-3556-54:not([data-block-selected]):not([data-cell-selected]).u-block-3556-54:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-3556-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-3556-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-3556-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-3556-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-section-2 .u-group-elements-1,
.u-section-2 .u-group-elements-1:before,
.u-section-2 .u-group-elements-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-group-elements-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-elements-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: linear-gradient(#5e5a63, #2d2933);
  min-height: 1488px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 383px);
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 600;
  font-style: italic;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 724px;
  margin: 37px calc(((100% - 1140px) / 2) + 208px) 0;
}

.u-section-3 .u-list-1 {
  width: 912px;
  margin: 32px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 1230px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-group-1 {
  width: 630px;
  min-height: 243px;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 27px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 9px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -9px -4px 0 335px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-family: Poppins;
  margin: -16px 315px 0 -285px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 20px 30px 0 -275px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-line-2 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-group-2 {
  width: 630px;
  min-height: 243px;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 27px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 9px;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -9px -4px 0 335px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-family: Poppins;
  margin: -16px 315px 0 -285px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 20px 30px 0 -275px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-line-3 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-group-3 {
  width: 630px;
  min-height: 243px;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 27px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 9px;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -9px -4px 0 335px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-family: Poppins;
  margin: -16px 315px 0 -285px;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 20px 30px 0 -275px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-top: 67px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -31px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: -55px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-text-9 {
    margin-top: -55px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1014px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: 56px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-group-1 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-3 .u-group-2 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-3 .u-group-3 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1028px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: 42px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 290px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 290px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 270px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-3 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 290px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 270px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1288px;
  }

  .u-section-3 .u-text-1 {
    width: 188px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 41px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 190px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 190px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 170px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 190px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 170px;
  }
} .u-section-4 {
  background-image: linear-gradient(#2d2933, #5e5a63);
}

.u-section-4 .u-sheet-1 {
  min-height: 589px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 723px;
  margin: 43px auto 0;
}

.u-section-4 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: linear-gradient(#5e5a63, #2d2933);
}

.u-section-5 .u-sheet-1 {
  min-height: 192px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-5 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 26px auto 40px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-5 .u-form-1 {
    height: 205px;
    margin-top: 18px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}